body
{
	padding-top: 26px;
	background-color: #000000;
	color: #ffffff;
	font-family: 'Lucida', monospace;
}

div#header
{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #777777;
	gap: 1ch;
}

div#header a
{
	text-decoration: none;
}

span
{
	font-size: 25px;
}

div#flexbox
{
	display: flex;
	padding-top: 25px;
}

table
{
	border: 1px solid #ffffff;
	border-collapse: collapse;
}

th
{
	border: 1px solid #ffffff;
}

td
{
	border: 1px solid #ffffff;
	text-align: center;
}

caption
{
	font-size: smaller;
	caption-side: bottom;
}